.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/config.ts
**/*.todo
src/test/**/*
src/data/**/*
src/monitor/config.json
weagle-bot
weagle-bot.log
dist
config.json
js/
src/internalconfig.json
